# Script para criar o esquema do data warehouse
*autor: André Costa (2019-03-09)* [https://www.linkedin.com/in/a-l-costa]

- Este script define as tabelas que são usadas para armazenar os dados após processados pelo pipeline ETL. As tabelas são armazenadas dentro do HDFS do Hadoop em forma ORC, e são gerenciadas pelo **Hive**.

In [1]:
#spark.sql("drop database geodata cascade")
spark.sql("create database if not exists geodata")
spark.sql("use geodata")
spark.sql("show databases").show()

+------------+
|databaseName|
+------------+
|     default|
|     geodata|
+------------+

## Dimensão CALENDARIO

In [6]:
#spark.sql('drop table calendario')
spark.sql('create table if not exists calendario \
         (id int, ano smallint, mes tinyint, dia tinyint, periodo tinyint) \
         PARTITIONED BY (dia_semana tinyint) stored as ORC')
spark.sql('create index calendario_id ON TABLE calendario (id) as "COMPACT"')
spark.sql('show index on calendario')
spark.sql("describe formatted calendario").show(truncate=False)

ParseException: '\nOperation not allowed: create index(line 1, pos 0)\n\n== SQL ==\ncreate index calendario_id ON TABLE calendario (id) as "COMPACT"\n^^^\n'

## (mini) Dimensão BAIRRO

In [3]:
#spark.sql('drop table bairro')
spark.sql('create table if not exists bairro \
            (id bigint, codigo bigint, nome string, area float, populacao int, dens_demo float, \
            agencias smallint, empresas int, empregados bigint, renda string, \
            faturamento float, start_date timestamp, \
            end_date timestamp) stored as ORC')

spark.sql('describe formatted bairro').show(truncate=False)

+----------------------------+----------------------------+-------+
|col_name                    |data_type                   |comment|
+----------------------------+----------------------------+-------+
|id                          |bigint                      |null   |
|codigo                      |bigint                      |null   |
|nome                        |string                      |null   |
|area                        |float                       |null   |
|populacao                   |int                         |null   |
|dens_demo                   |float                       |null   |
|agencias                    |smallint                    |null   |
|empresas                    |int                         |null   |
|empregados                  |bigint                      |null   |
|renda                       |string                      |null   |
|faturamento                 |float                       |null   |
|start_date                  |timestamp                   |null   |
|end_date                    |timestamp                   |null   |
|                            |                            |       |
|# Detailed Table Information|                            |       |
|Database                    |geodata                     |       |
|Table                       |bairro                      |       |
|Owner                       |hadoop                      |       |
|Created Time                |Thu Mar 14 02:04:14 UTC 2019|       |
|Last Access                 |Thu Jan 01 00:00:00 UTC 1970|       |
+----------------------------+----------------------------+-------+
only showing top 20 rows

## Dimensão CONCORRENTE

In [4]:
#spark.sql('drop table concorrente')
spark.sql('create table if not exists concorrente \
            (id bigint, codigo bigint, nome string, categoria string, faixa_preco int, \
            endereco string, bairro_id bigint, start_date timestamp, end_date timestamp) \
            PARTITIONED BY (uf string, municipio string) stored as ORC')

spark.sql('describe formatted concorrente').show(truncate=False)

+----------------------------+-----------+-------+
|col_name                    |data_type  |comment|
+----------------------------+-----------+-------+
|id                          |bigint     |null   |
|codigo                      |bigint     |null   |
|nome                        |string     |null   |
|categoria                   |string     |null   |
|faixa_preco                 |int        |null   |
|endereco                    |string     |null   |
|bairro_id                   |bigint     |null   |
|start_date                  |timestamp  |null   |
|end_date                    |timestamp  |null   |
|uf                          |string     |null   |
|municipio                   |string     |null   |
|# Partition Information     |           |       |
|# col_name                  |data_type  |comment|
|uf                          |string     |null   |
|municipio                   |string     |null   |
|                            |           |       |
|# Detailed Table Information|           |       |
|Database                    |geodata    |       |
|Table                       |concorrente|       |
|Owner                       |hadoop     |       |
+----------------------------+-----------+-------+
only showing top 20 rows

## Fato FLUXO

In [5]:
#spark.sql('drop table fluxo')
spark.sql('create table if not exists fluxo \
            (bairro_id bigint, calendario_id int, ocorrencias smallint) \
            PARTITIONED BY (concorrente_id bigint) stored as ORC')

spark.sql('describe formatted fluxo').show(truncate=False)

+----------------------------+----------------------------------------------------------+-------+
|col_name                    |data_type                                                 |comment|
+----------------------------+----------------------------------------------------------+-------+
|bairro_id                   |bigint                                                    |null   |
|calendario_id               |int                                                       |null   |
|ocorrencias                 |smallint                                                  |null   |
|concorrente_id              |bigint                                                    |null   |
|# Partition Information     |                                                          |       |
|# col_name                  |data_type                                                 |comment|
|concorrente_id              |bigint                                                    |null   |
|                            |                                                          |       |
|# Detailed Table Information|                                                          |       |
|Database                    |geodata                                                   |       |
|Table                       |fluxo                                                     |       |
|Owner                       |hadoop                                                    |       |
|Created Time                |Thu Mar 14 02:04:15 UTC 2019                              |       |
|Last Access                 |Thu Jan 01 00:00:00 UTC 1970                              |       |
|Created By                  |Spark 2.4.0                                               |       |
|Type                        |MANAGED                                                   |       |
|Provider                    |hive                                                      |       |
|Table Properties            |[transient_lastDdlTime=1552529055]                        |       |
|Location                    |hdfs://localhost:8020/user/hive/warehouse/geodata.db/fluxo|       |
|Serde Library               |org.apache.hadoop.hive.ql.io.orc.OrcSerde                 |       |
+----------------------------+----------------------------------------------------------+-------+
only showing top 20 rows